@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

.max-600 {
  max-width: 600px;
}

nav {
  @include until($tablet) {
    display: none;
  }
}

.container {
  @include fullhd {
    max-width: 1152px !important;
  }
}