@charset "utf-8";

$family-primary:  "Shantell Sans", sans-serif;

$primary: #776B5D;
$secondary: #dac59f;
$accent: #e59200;
$background: #FBF7F0;
$background-dark: #f2e5ce;
$text: #09121c;

$link: $accent;
$info: $secondary;

$timeline-marker-size: 24px;
$timeline-line-width: 4px;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-timeline/src/sass/index.sass";

.max-600 {
  max-width: 600px;
}

.container {
  @include fullhd {
    max-width: 1152px !important;
  }
}


.columns.is-variable.is-8 {
  --columnGap: 3rem;
}

.image.is-256x256 {
  width: 256px;
  height: 256px;
  margin: 0 auto;
}

.hidden-on-tablet {
  @include until($tablet) {
    display: none;
  }
}

.line-height-2 {
  line-height: 2rem;
}

m-auto {
  margin: 0 auto;
}

.mt-12 {
  margin-top: 6rem;
}

.mb-12 {
  margin-bottom: 6rem;
}

.is-size-1 {
  line-height: 2.3rem;
}

.has-background-light-custom {
  background-color: $background!important;
}